body {
    background-color: #ffffff;
    color: white;
    margin: 0;
}

#lienzo {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    border: 10px solid rgb(134, 47, 255);
    box-sizing: border-box;
}